body {
    background-color: rgb(234, 244, 244);
}
nav {
    background-color: rgb(226, 241, 255);
}
option {
    font-size: 12px;
}
.menu-section span {
    font-size: 14px;
}
.mobile-menu-section span {
    font-size: 12px;
}
.location a{
    font-size: 11px;
    text-decoration: underline;
}
.trending-section {
    background-color: rgb(246, 246, 233);
}
.cards h4 {
    font-size: 12px;
}