.primary {
    background-color: #2F3C7E;
    color: white;
}

.secondary {
    background-color: #FBEAEB;
    color: #2F3C7E;
}

.tertiary {
    background-color: aliceblue;
    color: #08165d;
}

.tertiary:hover {
    color: #2d44ba;
}

.txt {
    color: aliceblue;
    text-shadow: 1px 1px 1px #08165d;
}

.menu img {
    width: 16px;
    height: 16px;
}